body {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}

.search {
  margin: 0 auto;
  display: block;
  width: 80%;
}

.container {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

thead {
  font-weight: 700;
}

td {
  padding: 20px;
}

.linkedin {
  width: 20px;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
